body {
  font-family: "Inter", sans-serif;
  /* Ensure a smooth scroll for anchored elements */
  scroll-behavior: smooth;
}

.message-box {
    display: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}
.message-box.error {
    background-color: #fee2e2;
    color: #b91c1c;
    border: 1px solid #fca5a5;
}
.message-box:not(.error) {
    background-color: #dbeafe;
    color: #1e40af;
    border: 1px solid #93c5fd;
}